[nz-form] {
  max-width: 500px;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  padding: 30px;
  box-sizing: border-box;
}

.login-out-regi {
  max-width: 500px;
  margin-top: 2%;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  padding: 30px;
  box-sizing: border-box;
}

.phone-select {
  width: 70px;
}

.register-are {
  margin-bottom: 8px;
}

.phone-select {
  width: 70px;
}

.register-are {
  margin-bottom: 8px;
}
