<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/login">login-form</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Monitor</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Workplace</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
                  <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <i class="trigger"
                 nz-icon
                 [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></i>
          </span>
        <nz-avatar nzIcon="user" nz-popover="" [nzPopoverTitle]="nowUser" [nzPopoverContent]="contentTemplate"
                   nzPopoverPlacement="bottomRight">User
        </nz-avatar>
        <ng-template #contentTemplate>
          <a (click)="logOut()">logOut</a>
        </ng-template>
        <ng-template #nowUser>
          <div *ngFor="let userName of data">{{userName.name}}</div>
        </ng-template>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <button (click)="increment()">Increment</button>
    <button (click)="decrement()" [disabled]="disableDecrease$ | async " >Decrement</button>
    <button (click)="clear()" [disabled]="disableDecrease$ | async ">Clear</button>

    <div>
      <span>
      is counter :{{count$ | async}} ; Update at {{updatedAt$ | async | date: "yyyy-MM-dd-hh:mm:ss" }}
    </span>
    </div></nz-layout>
</nz-layout>



