
<div nz-col nzSpan="10" nzOffset="9" class="login-page">
<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your username!">
      <nz-input-group nzPrefixIcon="login">
        <input type="text" nz-input formControlName="login" placeholder="Login" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input formControlName="password" placeholder="Password" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
      <button nz-button   class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
</form>
<form >
  <div class="login-out-regi">
    <div ><button nz-button action="/welcome" nzType="primary" (click)="goRegistration()">Register</button></div>
    <div ><button nz-button (click)="clearToken()">Log out</button></div>
  </div>
</form>
</div>
