
<div nz-col nzSpan="10" nzOffset="9" class="login-page">
<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your username!">
      <nz-input-group nzPrefixIcon="login">
        <input type="text" nz-input formControlName="login" placeholder="Login" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input formControlName="password" placeholder="Password" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
      <button nz-button   class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
</form>
<form class="login-out-regi">
    <div ><span>У ещё вас нет аккаунта? </span><a (click)="navigate()" >Зарегистрироваться</a></div>
</form>
</div>
