//.login-page {
//  margin-top: 10%;
//  display: flex; // FlexBox
//  align-items: center; // выравнивает по вертикали
//  flex-direction: column;
//}

.login-form {
  margin-top: 10%;
  max-width: 300px;

}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.login-out-regi {
  //margin: 10%;
  display: flex; // FlexBox
  //justify-content: space-around;
}

