<nz-table #basicTable [nzData]="date">
  <thead>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Patronymic</th>
    <th>StudyGroup</th>
    <th>DateBirth</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of tableDate$ | async">
    <td>{{ data.name }}</td>
    <td>{{ data.surname }}</td>
    <td>{{ data.patronymic }}</td>
    <td>{{ data.studyGroup }}</td>
    <td>{{ data.dateBirth }}</td>
    <td>
      <a>add homework 一 {{ data.name }}</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a>Delete</a>
    </td>
  </tr>
  </tbody>
</nz-table>
